version: '3.8'

volumes:
  model_cache: # 存放所有模型（包括 fish-speech）
  static_files:
    # 存放生成的音频/视频

networks:
  app-network:
    driver: bridge

services:

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./static:/app/static
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  # 图片生成 (CPU only)
  image-gen:
    build: ./services/image-gen
    ports:
      - "8001:8000"
    environment:
      - USE_CPU=true
    volumes:
      - ./static:/app/static
    networks:
      - app-network

  # 语音克隆 (CPU mode)
  fish-speech:
    image: fishaudio/fish-speech:server-cpu
    ports:
      - "8080:8080"
    volumes:
      - ./checkpoints:/app/checkpoints
      - ./references:/app/references

    environment:
      - COMPILE=0 # CPU 不建议开 compile

    command: >
      python -m api_server.py --listen 0.0.0.0:8080 --device cpu
      --llama-checkpoint-path /app/checkpoints/openaudio-s1-mini 
      --decoder-checkpoint-path /app/checkpoints/openaudio-s1-mini/codec.pth 
      --decoder-config-name modded_dac_vq

    networks:
      - app-network

  # 视频生成 (CPU only)
  video-gen:
    build: ./services/video-gen
    ports:
      - "8003:8000"
    environment:
      - USE_CPU=true

  # API 协调层
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - IMAGE_GEN_URL=http://image-gen:8000/generate
      - VOICE_GEN_URL=http://voice-gen:8080/generate
      - VIDEO_GEN_URL=http://video-gen:8000/generate
    volumes:
      - ./static:/app/static
    depends_on:
      - redis
      - image-gen
      - fish-speech
      - video-gen
    networks:
      - app-network

  # 异步任务 Worker
  worker:
    build: ./backend
    command: rq worker --url redis://redis:6379 default
    networks:
      - app-network
    volumes:
      - ./static:/app/static
    depends_on:
      - redis
